// Place all the styles related to the tasks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body {
  color: blue;
  background-color: LightYellow;
  // padding: 10px;
  // margin: auto;
  // text-align: center;
}

#list {
  text-align: center;
  // margin-left: 50px;

}
